@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css or app/globals.css */

@media only screen and (min-width: 900px) {
  .desktop {
    display: initial;
  }
}

.desktop {
  display: none;
}

.hr-long {
  width: 75px;
}

.hr {
  margin: 0 25px;
  height: 1px;
}

.bg-brand-gradient {
  background: linear-gradient(90deg, #FF5F6D, #FFC371);
  color: white;
}
